<script>
  window.porcentaje = <%= @porcentaje %>;
  window.suma = <%=  @suma %>;
  window.meta =  <%= @meta %>
  window.prestamo =  <%= @prestamo %>
  <% puts "porcentaje=#{@porcentaje}, suma=#{@suma}, meta=#{@meta}" %>
</script>
<% # Localización: https://phraseapp.com/blog/posts/rails-i18n-setting-and-managing-locales/ %>
<%= render 'shared/change_locale' %>
<%
  def nombre_donante(g)
    locale == :es ? g[1][0].nombre : g[1][0].nombre_en
  end

  def valor_donacion(g)
    v = g[1].map(&:valor).sum
    if locale == :en
      v = v / ApplicationHelper::DOLAR
    end
    v.round
  end
%>
<h1>
  <%= t('.etapa') %> <%= @registro.id %> - 
  <%= locale == :es ? @registro.nombre : @registro.nombre_en %> 
  : <%= @porcentaje %>%
</h1>
<div class="grancontenedor">
  <div class="row">
    <div class="medicion offset-md-3 col-md-3">
      <div class="pipeta">
        <div id="vacio"></div>
        <div id="prestamo"></div>
        <div id="lleno"></div>
      </div> <!-- .pipeta-->
      <div id="e100"> 100</div>
      <div id="e90">- 90</div>
      <div id="e80">- 80</div>
      <div id="e70">- 70</div>
      <div id="e60">- 60</div>
      <div id="e50">- 50</div>
      <div id="e40">- 40</div>
      <div id="e30">- 30</div>
      <div id="e20">- 20</div>
      <div id="e10">- 10</div>
    </div> <!-- .medicion -->
    <div class="donantes col-md-6">
      <div class='accordion' id='acordeon'>
        <%= item_acordeon_bs(
          'acordeon', 'acordeon2', 
          "#{t('.donaciones_superiores_a')} #{@destacado1}", false) do %>
          <% @grupod1.group_by(&:nombre).each do |g| %>
            <p data-toogle='tooltip' title='<%= valor_donacion(g) %>'>
            <%= nombre_donante(g) %>
            </p>
          <% end %>
        <% end %> <!-- item_acordeon_bs -->

        <%= item_acordeon_bs(
          'acordeon', 'acordeon3', 
          "#{t('.donaciones_entre')} #{@destacado2} #{t('.y')} #{@destacado1}",
          false) do %>
          <% @grupod2.group_by(&:nombre).each do |g| %>
            <p data-toogle='tooltip' title='<%= valor_donacion(g) %>'>
            <%= nombre_donante(g) %>
            </p>
          <% end %>
        <% end %> <!-- item_acordeon_bs -->

        <%= item_acordeon_bs(
          'acordeon', 'acordeon4', 
          "#{t('.donaciones_hasta')} #{@destacado2.to_s}",
          false) do %>
          <% @grupod3.group_by(&:nombre).each do |g| %>
            <p data-toogle='tooltip' title='<%= valor_donacion(g) %>'>
            <%= nombre_donante(g) %>
            </p>
          <% end %>
        <% end %> <!-- item_acordeon_bs -->
      </div> <!-- acordeon -->
    </div><!--.donantes-->
  </div> <!-- row -->
</div><!--.grancontenedor -->
<div class="container">
    <div class="row">
      <div class='col-sm-2'>
      <% if @registro.id > 1 %>
        <%= link_to t('.etapa_anterior'), 
          main_app.etapa_path(@registro.id - 1, locale: locale) %>
      <% end %>
    </div>
    <div class='offset-sm-8 col-sm-2'>
      <% if @registro.id < 4 %>
        <%= link_to t('.etapa_siguiente'), 
          main_app.etapa_path(@registro.id + 1, locale: locale) %>
      <% end %>
    </div>
    </div>
    <div class="row">
      <div class='col-sm-2'></div>
      <div class='col-sm-3'>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="BY2CFLECLP78J">
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
      <div class='col-sm-7 notas'>
        <p> <%= @notas %> </p>
        <p> <%= @notas2 %> </p>
      </div>
    </div>
</div> <!-- .container -->


